<?xml version="1.0" encoding="utf-8"?>
<services>
	<service name="HelloWorld.Domain.Akka.Services.HelloWorldExampleService">
		<endpoint binding="basicHttpBinding" contract="HelloWorld.Domain.Akka.Services.IHelloWorldExampleService" />
		<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
	</service>

</services>
