<?xml version="1.0" encoding="utf-8"?>
<serviceHostingEnvironment multipleSiteBindingsEnabled="true" aspNetCompatibilityEnabled="true">
	<serviceActivations>
		<add
			factory="HelloWorld.Domain.Akka.Services.ServiceHost.Ninject.ServiceHostFactories.HelloWorldExampleServiceHostFactory"
			relativeAddress="Akka_HelloWorldExampleService.svc"
			service="HelloWorld.Domain.Akka.Services.HelloWorldExampleService"
		/>

	</serviceActivations>
</serviceHostingEnvironment>
